/* Fonts */
@font-face {
  font-family: "Gilroy-bold";
  src: url("../../assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-medium";
  src: url("../../assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-regular";
  src: url("../../assets/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url("../../assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-black";
  src: url("../../assets/fonts/Gilroy-Black.ttf");
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.embed {
  margin-left: auto;
  margin-right: auto;
}

.inner-list {
  margin-left: 5%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 2rem 1rem;
  color: #777;
}
.footer-icons {
  padding: 2rem 1rem;
}
.footer-icons ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-icons ul li {
  list-style: none;
  cursor: pointer;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.header .academy-visit {
  padding: 1rem;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .header .academy-visit .academy-logo {
    max-width: 100px;
    max-height: 100px;
  }
}
.header .academy-visit div:nth-child(2) {
  padding: 1rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .header .academy-visit {
    display: flex;
    position: unset;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}
.header .heading-primary {
  font-family: "Gilroy-semibold";
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #c20bc1;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .header .heading-primary {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
  }
}

.main {
  padding: 2rem 0;
}
.main-nav {
  width: 70%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav-list {
  list-style-type: none;
}
.main-nav-list li {
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.main-nav-list li a {
  font-family: "Gilroy-bold";
  font-size: 1.8rem;
  font-weight: 600;
  color: #9b089a;
}
.main-nav-list li a:hover {
  opacity: 0.6;
}

.academy-visit {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .academy-visit {
    display: none;
  }
}
.academy-visit .academy-logo {
  width: 150px;
  height: 150px;
  background-image: url("../assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}
.academy-visit .title {
  font-family: "Gilroy-medium";
  font-weight: 500;
  font-size: 2.5rem;
  color: #9b089a;
  text-align: center;
}
.academy-visit .btn-academy {
  font-family: "Gilroy-semibold";
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
  border: none;
  background-color: #c20bc1;
  color: #fff;
  width: 100px;
  padding: 0.7rem;
  border-radius: 1rem;
}
.academy-visit .btn-academy:hover {
  opacity: 0.8;
}
.academy-visit .btn-academy:active {
  transform: scale(0.95);
}

.post {
  padding: 2rem;
}
.post-title {
  text-align: center;
  font-family: "Gilroy-bold";
  font-weight: 600;
  font-size: 2.5rem;
  color: #9b089a;
  margin-bottom: 2rem;
}
.post-subtitle {
  text-align: center;
  font-family: "Gilroy-bold";
  font-weight: 500;
  font-size: 2.0rem;
  color: #c20bc1;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.post-body {
  font-family: "Gilroy-medium";
  font-size: 1.5rem;
}
.post-body figure {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  max-width: 70%;
  margin: 2rem auto;
}
.post-body figure img {
  max-width: 70%;
  max-height: 40%;
  -o-object-fit: contain;
  object-fit: contain;
}
.post-body figure figcaption {
  width: 70%;
  background-color: #c20bc1;
  color: #fff;
  font-family: "Gilroy-regular";
  padding: 3px;
  text-align: center;
}
.post-body .paragraph-img {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .post-body .paragraph-img {
    flex-direction: column;
  }
}
.post-body .paragraph-img img {
  max-width: 50%;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/
.container {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
} /*# sourceMappingURL=index.css.map */
