/* Fonts */
@font-face {
  font-family: "Gilroy-bold";
  src: url("./fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-regular";
  src: url("./fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url("./fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-black";
  src: url("./fonts/Gilroy-Black.ttf");
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePage .container {
  display: grid;
  grid-template-columns: 70% 30%;
}
.homePage .container .homePage__posts {
  width: 100%;
  grid-gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
.homePage .container .homePage__academyBox {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homePage .container .homePage__academyBox .homePage__academyBox__img {
  width: 160px;
}
.homePage .container .homePage__academyBox .homePage__academyBox__title {
  color: #9b089a;
  font-weight: 100;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.homePage .container .homePage__academyBox .homePage__academyBox__link {
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #c20bc1;
  transition: 0.15s;
}
.homePage .container .homePage__academyBox .homePage__academyBox__link:hover {
  background-color: #d454d3;
}

.post .post__container {
  max-width: 800px;
}
.post .post__container .post__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #c20bc1;
}
.post .post__container .post__headerText {
  padding: 5px;
  background: #9b089a;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}
.post .post__container .post__headerText h3 {
  color: #fff;
  text-align: center;
}
.post .post__container .post__image {
  margin: auto;
  margin-bottom: 0.5rem;
}
.post .post__container .post__image .post__image__img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 5px;
}
.post .post__container .numberList {
  width: 95%;
  margin: auto;
}
.post .post__container .numberList .numberList_line {
  margin-bottom: 0.3rem;
  display: grid;
  grid-template-columns: 30px 1fr;
  text-align: justify;
}
.post .post__container .post__paragraph {
  margin-bottom: 0.5rem;
  text-align: justify;
}
.post .post__container .post__paragraph a {
  color: #9b089a;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 7%;
}
.post .post__container .post__pointList {
  width: 90%;
  margin: auto;
  margin-bottom: 0.5rem;
}
.post .post__container .post__pointList ul .post__pointList__li {
  margin-bottom: 0.3rem;
}
.post .post__container .post__youtube {
  width: 90%;
  margin: auto;
  height: 380px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post .post__container .post__youtube #ytplayer {
  width: 100%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.header .container .header__logo {
  width: 50px;
}
.header .container .header__logo__text {
  margin-left: 15px;
  color: #c20bc1;
}
.header .container .header__search {
  outline: none;
  border: none;
  background: rgb(245, 243, 243);
  height: 30px;
  border-radius: 5px;
  padding: 10px;
}

.footer {
  margin-top: 2rem;
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}
.footer .container p:nth-child(2) {
  text-align: center;
}
.footer .container .footer__links {
  display: flex;
  justify-content: flex-end;
}
.footer .container .footer__links a {
  fill: #9b089a;
  text-align: right;
}

.postShort {
  min-width: 450px;
  max-width: 700px;
  width: 100%;
  height: 150px;
  background-color: rgb(245, 243, 243);
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  flex: 1;
}
.postShort .postShort__titleBox a {
  color: #c20bc1;
  font-weight: bold;
}
.postShort .postShort__titleBox .postShort__titleBox__shortParagraph {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}
.postShort .postShort__previewBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  max-width: 1441px;
  margin: auto;
}
