/* Fonts */

@font-face {
  font-family: "Gilroy-bold";
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-regular";
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-semibold";
  src: url("./fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-black";
  src: url("./fonts/Gilroy-Black.ttf");
}