$color-primary: #c20bc1;
$color-primary-light: #d454d3;
$color-primary-dark: #9b089a;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-dark: rgb(238, 238, 238);
$color-black: #000;
$color-black-light: rgba(0, 0, 0, .7);