.homePage {
	.container {
		display: grid;
		grid-template-columns: 75% 25%;
		@include respond(tab-land) {
			display: block;
		}

		.posts {
			width: 100%;
			grid-gap: 5px;
			display: flex;
			flex-wrap: wrap;
		}

		@include respond(mid) {
			.posts {
				display: block;
			}
		}
	}
}