.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0px 1px 5px (rgba(0, 0, 0, 0.2));
  margin-bottom: 2rem;
  padding: 17px 0;

  .clickableText {
    cursor: pointer;
  }

  .container {
    .leftSideBox {
      .logo {
        width: 37px;
      }
      .text {
        margin-left: 15px;
        color: $color-primary;
      }
      .search {
        outline: none;
        border: none;
        background: $color-white-dark;
        height: 40px;
        border-radius: 5px;
        padding: 15px;
      }
    }
  }
  
  @include respond(mid) {
    .container {
      font-size: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      .leftSideBox {
        max-width: fit-content;
        margin: auto;
      }
    }
  }

  @include respond(phone) {
    .container {
      .leftSideBox {
        .logo {
          display: none;
        }
        .text {
          font-size: 16px;
        }
      }
    }
  }
}
