@import "./base/fonts";
@import "./base/mixins";
@import "./base/variables";
@import "./base/reset";

@import "./pages/home";
@import "./pages/post";
@import "./pages/admin";

@import "./components/header";
@import "./components/footer";
@import "./components/postShort";
@import "./components/academyBox";

.container {
	padding: 0px 20px;
	@include respond(phone) {
		padding: 0px 16px;
	}
	max-width: 1441px;
	margin: auto;
}

// sass styles/index.scss styles/index.css --no-source-map