/* Fonts */
@font-face {
  font-family: "Gilroy-bold";
  src: url("./fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-regular";
  src: url("./fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url("./fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-black";
  src: url("./fonts/Gilroy-Black.ttf");
}
/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop

  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

  1em = 16px
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #c20bc1;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePage .container {
  display: grid;
  grid-template-columns: 75% 25%;
}
@media only screen and (max-width: 1370px) {
  .homePage .container {
    display: block;
  }
}
.homePage .container .posts {
  width: 100%;
  grid-gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 688px) {
  .homePage .container .posts {
    display: block;
  }
}

.post .container {
  max-width: 800px;
}
.post .container .title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #c20bc1;
}
.post .container .headerText {
  padding: 5px;
  background: #9b089a;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}
.post .container .headerText h3 {
  color: #fff;
  text-align: center;
}
.post .container .image {
  margin: auto;
  margin-bottom: 0.5rem;
}
.post .container .image .img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 5px;
}
.post .container .numberList {
  width: 95%;
  margin: auto;
}
.post .container .numberList .line {
  margin-bottom: 0.3rem;
  display: grid;
  grid-template-columns: 30px 1fr;
  text-align: justify;
}
.post .container .paragraph {
  margin-bottom: 0.5rem;
  text-align: justify;
}
.post .container .paragraph a {
  text-underline-offset: 7%;
}
.post .container .pointList {
  width: 90%;
  margin: auto;
  margin-bottom: 0.5rem;
}
.post .container .pointList ul .li {
  margin-bottom: 0.3rem;
}
.post .container .youtube {
  width: 90%;
  margin: auto;
  height: 380px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post .container .youtube #ytplayer {
  width: 100%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 17px 0;
}
.header .clickableText {
  cursor: pointer;
}
.header .container .leftSideBox .logo {
  width: 37px;
}
.header .container .leftSideBox .text {
  margin-left: 15px;
  color: #c20bc1;
}
@media only screen and (max-width: 688px) {
  .header .container {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header .container .leftSideBox {
    max-width: fit-content;
    margin: auto;
  }
}
@media only screen and (max-width: 600px) {
  .header .container .leftSideBox .logo {
    display: none;
  }
  .header .container .leftSideBox .text {
    font-size: 16px;
  }
}

.footer {
  margin-top: 2rem;
}
.footer .container {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}
.footer .container .line_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .container .line_1 .links {
  display: flex;
  justify-content: flex-end;
  grid-gap: 5px;
}
.footer .container .line_1 .links a {
  fill: #9b089a;
  text-align: right;
}
.footer .container .copyright {
  margin-top: 10px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 5px;
}
@media only screen and (max-width: 688px) {
  .footer .container .line_1 {
    display: block;
    text-align: center;
  }
  .footer .container .line_1 .links {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
  }
}

.postShort {
  min-width: 520px;
  max-width: 700px;
  width: 100%;
  height: 155px;
  background-color: rgb(245, 243, 243);
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  flex: 1;
  grid-gap: 5px;
}
.postShort .littleBox .shortParagraph {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}
.postShort .littleBox .shortParagraph a {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 100;
}
@media only screen and (max-width: 688px) {
  .postShort {
    width: 100%;
    max-width: initial;
    min-width: initial;
    margin-bottom: 5px;
  }
}

.academyBox {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.academyBox .academyBox-container {
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.academyBox .academyBox-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.academyBox .img {
  width: 160px;
}
.academyBox .title {
  color: #9b089a;
  font-weight: 100;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.academyBox .link {
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #c20bc1;
  transition: 0.15s;
  text-decoration: none;
}
.academyBox .link:hover {
  background-color: #d454d3;
}
@media only screen and (max-width: 1370px) {
  .academyBox {
    height: fit-content;
  }
  .academyBox .academyBox-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    padding: 0;
    grid-gap: 5px;
  }
  .academyBox .academyBox-container:hover {
    background-color: none;
  }
  .academyBox .academyBox-container .img {
    width: 50px;
  }
  .academyBox .academyBox-container .title {
    display: none;
  }
  .academyBox .academyBox-container .link {
    height: fit-content;
    display: block;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .academyBox .academyBox-container .img {
    width: 40px;
  }
  .academyBox .academyBox-container .link {
    font-size: 16px;
    padding: 5px 10px;
  }
}

.container {
  max-width: 1441px;
  margin: auto;
}
@media only screen and (max-width: 1370px) {
  .container {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0px 20px;
  }
}
